@charset "utf-8";
html,body{
  margin: 0;
  padding: 0;
  width:100%;
  height: 100%;
font-family: "游ゴシック体", "YuGothic M", sans-serif;
}

header {
  height: 150px;
  width:100%;
}

header p{
  font-size:13px;
  font-weight: 500;
  float:left;
  margin-left:10px;
}

.break{
  display:none;
}

.header-logo h3{
padding-top: 70px;
color: #660000;
font-size: 35px;
letter-spacing: 5px;
  color: #ff6938;
font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
font-weight: 800;
}

.header-logo h3:after {
  margin-top: 8px;
content: "";
display: block;
height: 3.5px;
background: -webkit-linear-gradient(to left, rgb(255, 186, 115), #ffb2b2);
background: linear-gradient(to left, rgb(255, 186, 115), #ffb2b2);
}

.header-logo img{
  float:right;
  position: absolute;
  top: 28px;
  right:280px;
  width: 300px;
  height:120px;
}

.link-wrapper{
  height:50px;
  display:inline-block;
  width:100%;
  border-bottom: 1px solid silver;
}

.link{
display:block;
float:left;
width:15%;
padding: 5px 20px;
margin-left:20px;
color: black;
  text-decoration: none;
}

.link:hover{
  color:silver;
}

.line{
  border-left: 1px solid silver;
z-index: 5;
}

.trial-btn{
  float:right;
  letter-spacing: 5px;
  font-size:15px;
  background-color:#66CC66;
  color: white;
  padding: 9px 24px;
  border-radius: 10px;
  display: block;
  margin: 30px 10px;
  font-weight: 500;
  text-decoration: none;
}

.clear{
  clear:left;
}

.main-wrapper{
  width:100%;
  height:500px;
  margin-top:30px;
  background-image:url(images/1339969.jpg);
  background-size: cover;
  background-repeat: repeat;
  color: #8b0000;
  z-index:1;
}

 h1{
   margin-top:80px;
   margin-left:5px;
   border-bottom:dashed 4px red;
   width:40%;
   opacity:0.7;
 }

p{
  margin-left:3px;
}

form{
  float:left;
  margin-left:30px;
  width:60%;
  padding:9px 2px;
  background-color:#ffe4e1;
  opacity:0.8;
  border-radius: 10px;
 }

#name{
  margin-bottom:15px;
}

#adress{
  margin-bottom:15px;
  width:300px;
}

#check{
  margin-bottom:15px;
}

#contact{
  float:left;
}

textarea{
  float:left;
  height:70px;
  width:350px;
}

#submit{
  float:left;
  margin-top:30px;
}

#text{
  float:left;
}

 footer{
   width:100%;
   height:80px;
   float:left;
   border-top:1px solid #f5f5f5;
 }

 .footer-pic{
   float:right;
   width:80px;
   height:60px;
   margin:10px 20px;
 }

 .footer-logo{
   float: right;
   margin: 30px 0 0 10px;
 color: #660000;
 font-size: 20px;
 letter-spacing: 3px;
   color: #ff6938;
 font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
 }


 @media(max-width:670px){

   header{
   height:40px;
   }

   header p{
     font-size:8.5px;
     position:static;
   }

   .header-logo h3{
     width:100%;
     font-size:18px;
     margin-left:5px;
     margin-bottom:5px;
   }
   .break{
     display: inline-block;
   }

   .trial-btn{
     float:right;
     margin:5px 0 0 3px;
     padding:2px 4px;
     width:25%;
     font-size:10px;
     letter-spacing: 1px;
     text-align:center;
   }

   .header-logo img{
     float:right;
     width:45%;
     height:40px;
     position: static;
   }

   .link-wrapper{
     height:25px;
     width:100%;
     display:block;
   }

   .link{
     font-size:9px;
     margin-left:5px;
     margin-top:3px;
     margin-bottom:0;
     padding:0;
     height:2px;
     border:none;
     width:23%;
   }

   .main-container{
     background-size: contain;
   }

.main-wrapper p{
  font-size:11px;
}

 h1{
   font-size:15px;
   width:65%;
   margin-top:30px;
   border-bottom:2px dashed red;
 }

form{
  width:95%;
  padding:10px 5px;
  font-size: 12px;
}

#adress{
  width:80%;
}

#contact-area{
  width:80%;
  display:block;
}

 #submit{
   position:absolute;
   top:425px;
  float:left;
}

#text{
  margin-top:60px;
  width:100%;
}

 footer{
   height:30px;
 }

 .footer-pic{
 display:none;
 }

 .footer-logo{
   float:left;
   padding:0;
   margin:8px  0 0 3px;
   font-size:12px;
   letter-spacing: 2px;
 }

 }
